<script src="./js/client.js"></script>

<div class="container">

  <div class="section">
    <h1>All Pokemon</h1>
    <div class="sprite-container">
      {{! TODO Display list of Pokemon here. }}
      {{#each allPokemons}}
        <button value="{{dexNumber}}">
          <img src="{{smallImageUrl}}" />
          <span>{{name}}</span>
        </button>
      {{/each}}
    </div>
  </div>

  <div class="section">
    <div class="details">
      <h1>Details</h1>
      {{! TODO Display info about a single Pokemon here. }}
      {{#if favoritePokemon}}
        <img id="detail-Img" src="{{favoritePokemon.imageUrl}}">
        <h2>#
          <span id="detail-dexNumber">{{favoritePokemon.dexNumber}}</span> 
          <span id="detail-name">{{favoritePokemon.name}}</span>
        </h2>
        <p><Strong>Types: </Strong><span id="detail-types">{{typesString}}</span></p>
        <p>
          <Strong>About 
            <span id="detail-aboutName">{{favoritePokemon.name}}</span>: 
          </Strong>
          <span id="detail-dexEntry">{{favoritePokemon.dexEntry}}</span></p>
      {{else}}
        <p><em>No favorite Pokemon!!!</em></p>
      {{/if}}
    </div>
  </div>

</div>