<script src="./js/client.js"></script>

  <div class="container">

    <div class="section">

    <h1>All Pokemon</h1>
      <div class="manual">
        <input placeholder="Enter dexNumber" type="number" min="1" max="1010" step="1" 
          id="txtDexNumber" name="txtDexNumber">
        <button id="addPokemon" type="submit">Add New (from PokeAPI)</button>
        <p><span id="errMsg"></span></span></p>
      </div>
    
    <div class="sprite-container">
      {{! TODO Display list of Pokemon here. }}
      {{#each allPokemons}}
        <button id="id-{{dexNumber}}" class="btn-pokemon" value="{{dexNumber}}">
          <img src="{{smallImageUrl}}" />
          <span>{{name}}</span>
        </button>
      {{/each}}
    </div>
  </div>

  <div class="section">
    <div class="details">
      <h1>Details</h1>
      {{! TODO Display info about a single Pokemon here. }}
        <img id="detail-img" src="{{detailImg}}">
        <h2>#
          <span id="detail-dexNumber">{{dexNumber}}</span> 
          <span id="detail-name">{{name}}</span>
        </h2>
        <p><Strong>Types: </Strong><span id="detail-types">{{types}}</span></p>
        <p>
          <Strong>About 
            <span id="detail-aboutName">{{about}}</span>: 
          </Strong>
          <span id="detail-dexEntry">{{dexEntry}}</span>
        </p>
    </div>
  </div>

</div>